:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 2rem;
}

.sl-markdown-content iframe {
  width: 100%;
  min-height: 75vh;
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.pageTitle h1 {
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.pageTitle #presentation-button {
  margin-left: auto;
  align-self: flex-end;
}

.sl-markdown-content h1,
.sl-markdown-content h2,
.sl-markdown-content h3,
.sl-markdown-content h4 {
  margin-top: 60px;
  margin-bottom: 40px;
  padding-top: 20px;
}

.sl-markdown-content h2 {
  border-top: 3px solid rgb(160, 160, 160);
}

.sl-markdown-content h2:first-child {
  border-top: none;
  margin-top: 0;
}

.sl-markdown-content h3,
.sl-markdown-content h4 {
  border-top: 1px solid rgb(160, 160, 160);
}

.sl-markdown-content li {
  margin-bottom: 1.5rem;
}

.sl-markdown-content strong {
  /* color: rgb(228, 27, 27); */
  color: rgb(93, 25, 212);
  font-weight: 500;
}

.sl-markdown-content em {
  color: rgb(136, 136, 136);
}

.sl-markdown-content li>ul {
  margin-top: 1.2rem;
}

/* .sl-markdown-content code {
  font-size: 1.1rem;
} */

.sl-markdown-content .tables {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  align-items: flex-start;
  max-width: 100%;
}

.presentation-slide.hide {
  display: none;
  visibility: hidden;
}


.label foreignObject {
  overflow: visible;
  font-size: 90%;
}

.sl-markdown-content .highlight-box {
  background-color: rgb(244, 240, 255);
}

.onlyPrint {
  display: none;
}

@media print {

  .onlyPrint {
    display: initial;
  }

  header,
  nav,
  .pagination-links,
  ul[role="tablist"],
  #presentation-button {
    display: none;
  }

  table,
  img,
  .expressive-code,
  .starlight-aside {
    break-inside: avoid;
  }

  .page-break {
    page-break-before: always;
  }
}